$white = #fefefe
$black = #010101

$body-background-color = #f2f2f2

$text-color = black
$text-color-subtle = black
$text-color-light = black

$link-color = black
$link-hover-color = #05d6c6
$link-hover-color-svg = black

$padding-side = 5%
