@import 'nib'
global-reset()

*
  box-sizing border-box

body
  color $text-color
  font-family Ubuntu, sans-serif
  font-size 14px
  line-height 1.2
  max-width 1200px
  margin 0 auto
  background-color $body-background-color
  height 100%
  height 100vh
  width 100%
  width 100vw

  &.page
    overflow hidden

  &.about-visible
    overflow hidden

h1,
h2
  margin 0 0 1em

h1
  font-size 1.5em

h2
  font-size 2.2em
  font-weight normal
  letter-spacing .09em
  text-transform uppercase
  margin .5em $padding-side .2em
  padding 0 0 .2em
  border-bottom 2px solid #666666

h3
  text-transform uppercase
  line-height 1.5
  font-size 1.2em
  font-style italic
  font-weight 200
  color $text-color-light
  margin 0 0 1em



img
  max-height 100%
  max-width 100%

a
  color $link-color
  text-decoration none

  .arrow
    fill #ffffff
  .triangle
    fill #666666

  &:hover
    color $link-hover-color

    .triangle
      fill $link-hover-color-svg

ul.nav
  font-size 1.8em

  li
    display block
    opacity 0
    height 0
    width 0
    overflow hidden
    transition all 500ms

    &.active
      opacity 1
      width auto
      height auto

      a
        display inline-block

        &::before

          content: "";
          border-top: 3px solid $black;
          display: block;
          margin: 0 0 0 50%;
          right: -4px;
          position: relative;

      .border
        height 3px
        width 50%
        background-color $black
        float right

  &.show
    li
      opacity 1
      height auto
      width auto
      transition all 500ms
  a
    font-style italic
    padding 0 .1em 0 0


.wrapper
  display inline-block
  padding-bottom 3em

  .left,
  .right
    color #333
    margin: .5em 0;
    padding 0 $padding-side

    h3
      padding $padding-side 0

    img
      margin .5em 0
      width 100%

  .full
    img
      padding 0 5%
      width auto
      margin 5% auto
      max-width 90%
      display block

  .videoWrapper
    margin 5% 0

    &:first-child
      margin .2em 0 5%


.header,
.footer
  &.main
    position fixed
    left auto
    right 10px

.header.main
  top 10px
  z-index 10000

.footer.main
  top auto
  bottom 10px
  z-index 1000000

.draggables
  user-select none

.drag
  position absolute
  z-index 0

  &.dragged
    transition none

  .bg
    display inline-block

    source, img
      max-width 40vw
      max-height 45vh

  a
    position absolute
    right 0
    top 0
    opacity 0
    height 0
    width 0
    transition opacity 500ms

  &.dropped
    a
      opacity 1
      height 43px
      width 43px

    .bg
      source, img
        box-shadow 0px 0px 10px 5px rgba(0,0,0,.15)

.videoWrapper
  height 0
  position relative
  padding-bottom 56.25% /* 16:9 */

  iframe
    background-color #f2f2f2
    height 100%
    left 0
    position absolute
    top 0
    width 100%

.pageLink
  height 45px
  width 45px
  right 0
  top 0

.intro
  font-style italic
  font-weight 200
  color $text-color-light

.intro2
  line-height 1.5
  font-size 3em
  font-family 'Ubuntu', sans-serif
  font-style italic
  font-weight 200
  color $text-color-light

  span
    margin 0
    padding 0
    display block

.content
  font-family 'Ubuntu', sans-serif
  font-style regular
  color #666
  line-height 1.5

  img
    margin 1em 0

.left
  .content
    p
      margin: 0 0 5%

.uppercase
  text-transform uppercase
.bold
  font-weight bold

.ellipsis
  color #666

.pagination
  margin-top 20px
  margin-bottom 0
  padding-left 30%
  font-size .8em

.link
  color #666
  text-decoration none
  font-size .9em
  line-height 1.9em


/* About Page */

.about-page
  background-color rgba(242, 242, 242, 0.9)
  font-weight 300
  font-size 21px


  opacity 0

  height 100%
  height 100vh
  width 100%
  width 100vw

  left 100%
  left 100vw
  top 100%
  top 100vh

  /*transition left 300ms, top 300ms, opacity 500ms*/
  position fixed

  overflow-y auto
  /*
    image z-index gets incremented.
    we will assume nobody will hover 10.000 times without reloading
  */
  z-index 10000

  h1
    font-size 30px
    font-weight 300

  .about-page nav a
    text-decoration none
    font-family 'Ubuntu', sans-serif
    font-style italic
    display inline-block
    color black
    padding 5px 10px

body.about-visible 
  /* .draggables
    -webkit-filter blur(20px) */

  .about-page
    opacity 1
    left 0
    top 0
    /*transition left 300ms, top 300ms, opacity 500ms */

.about-page-content
  margin  0 10%
  font-family 'Ubuntu', sans-serif
  font-style normal
  line-height 1.5
  font-size 25px
  font-weight 400
  color black
  height 
  text-align left


  p
    margin 0.5em 0

  iframe
    width 350px
    height 355px
    margin 30px auto
    display block
    overflow hidden

  .link
    color 010101
    text-decoration none
    font-size .6em
    line-height 1.9em
    display inline-block
    padding-right  10px

.about-page-trigger
  position fixed
  left auto
  right 0
  top auto
  bottom 0
  padding:10px
  z-index 1000000
  font-family sans-serif
  color black


@media (min-width: 600px)
  .main
    .section
      font-size 2vw


@media (min-width: 700px)
  body
    font-size 14px


@media (min-width: 800px)
  .projects
    display inline-block

    .project
      float left
      width 31%
      margin 0 1%

  .wrapper
    .left
      padding 5% 2.5% 5% 5%
      width 50%
      float left
    .right
      padding 5% 5% 5% 2.5%
      width 50%
      float right
